@tailwind base;
@tailwind components;
@tailwind utilities;
/* Nav BAr */
.title{
  color: #3563E9;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -3%;
  font-family: 'Plus Jakarta Sans ';
 
  padding-left: 60px;

 
  
}


/* Car.tsx */
.car{
  padding-top: 32px;
  padding-left: 64px;
  border-radius: 10px;
  background-color: #54A6FF;
}


.car1{
  padding-top: 32px;
  padding-left: 64px;
  border-radius: 10px;
  background-color: #3563E9;
}





